
html, body{
	margin:0;
	padding:0;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

input, form, label, a, h1, h2, h3, h4, h5, button, select, ul, nav, li{
	font-family: 'Raleway', sans-serif;
}

h1 {
    color: #EA6557;
    text-align: center;
    font-weight: 500;
}

h3{
	color: #EA6557;
}

p{
	line-height: 1.5;
}

span{
	font-weight: 500;
	letter-spacing: 3px;
	color:#EA6557;
}

button:focus,
button:active{
	border:none;
	background:none;
	outline:none;
}

.maxwidth{
	width: 100%;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* ========================
		NAVIGATION
=========================== */

nav{
	width: 100vw;
	margin:0;
	padding:15px;
	height:40px;
	position:fixed;
	top:0;
	left: 0;
	background:#EA6557;
	color: white;
	z-index: 10000000;
}

nav p{
	position: absolute;
	left:7%;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	margin-top: 15px;
}
nav ul{
	position: absolute;
	right: 7%;
}
nav ul li{
	display: inline-block;
	padding: 0 20px;
}

nav a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
}

/* ========================
		SIGN IN PAGE
=========================== */

.fullpage{
	width: 100vw;
	height: 100vh;
	background-image: url('https://c.stocksy.com/a/WT2400/z9/962830.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	margin:0;
	padding: 0;
}

.halfleft{
	width: 50%;
	height: 100vh;
	background-color: rgba(255,255,255,0.4);
	margin:0;
	position: absolute;
	left:0;
	top:0;
}

.halfright{
	width: 50%;
	height: 100vh;
	background-color: rgba(255,255,255,0.9);
	margin:0;
	position: absolute;
	right:0;
	top:0;
}

#signintitle, #signuptitle{
	color: #EA6557;
	text-align: center;
	font-size: 27px;
	font-weight: 600;
	letter-spacing: 2px;
}

#signinform{
	text-align: left;
	position:relative;
	left:50%;
	transform: translateX(-50%);
	width:50%;
	border-radius: 8px;
	margin-top:140px;
}

#signinform input{
	margin: 10px 0 30px 0;
	border:none;
	background:none;
	border-bottom: 2px solid #EA6557;
	width:100%;
	height: 20px;
	padding: 10px;
}

#signinbutton{
	background: #EA6557;
	color: #fff;
	width: 50%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
	position:relative;
	left:50%;
	transform: translateX(-50%);
}

#signinsignup{
	font-weight: 600;
	color: #EA6557;
	text-decoration: none;
	letter-spacing: 2px;
	margin-left: 7px;
}

#signinsignup:hover{
	text-decoration: underline;
}

/* ========================
		SIGN UP PAGE
=========================== */

.fieldsrequired{
	font-size: 14px;
	font-style: italic;
	color:#666666;
}

#signupform{
	text-align: left;
	width:90%;
	border-radius: 8px;
	margin-top:140px;
	padding-left: 10%;
}

#signuphalfright{
	overflow: auto;
}

#signupform input{
	margin: 10px 0 10px 0;
	border:none;
	background: #e7e7e7;
	width:40%;
	height: 20px;
	padding: 10px;
}

#signupform select{
	margin: 10px 0 10px 0;
	border:none;
	background: #e7e7e7;
	width:40%;
	height: 40px;
	padding: 10px;
}

#signupform textarea{
	margin: 10px 0 10px 0;
	border:none;
	background: #e7e7e7;
	width:40%;
	padding: 10px;
}

.radio{
	width: 10% !important;
}

#signupbutton{
	background: #EA6557;
	color: #fff;
	width: 40%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}

/* ===============================================
		CREDIT CARD & SIGN IN SUCCESS PAGE
================================================== */

#ccsignin{
	background: none;
	color: #EA6557;
	width: 20%;
	border: solid 2px #EA6557;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}

#ccthankyou{
	text-align: left;
	width:90%;
	border-radius: 8px;
	margin-top:140px;
	padding-left: 10%;
}

#successbg{
	width: 100vw;
	height: 100vh;
	background-image: url('https://www.foreigngirlfriend.com/dating-blog/wp-content/uploads/foreigngirlfriend-com/sites/4/Couple-dating-and-flirting.jpg');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	margin:0;
	padding: 0;
}

#successcover{
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,0.9);
	padding: 0;
	text-align: center;
}

#profilecover{
	height: 300px;
	background:#ddd;
	width: 100%;
	margin:0;
	padding:0;
}


/* ===============================================
		BROWSE
================================================== */

#browse_profilepic{
	padding: 30;
	border: 3px solid #EA6557;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

#swipeRightButton {
	background: #52d154;
	color: #fff;
	width: 40%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}

#swipeLeftButton {
	background: #EA6557;
	color: #fff;
	width: 40%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}

#gotoProfileButton {
	background: purple;
	color: #fff;
	width: 100%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}

#toggleAllBrowseButton {
	background: rgb(160, 160, 160);
	color: #fff;
	width: 100%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
}


/* ===============================================
	DISPLAY CHAT
================================================== */

/* Chat containers */
.container {
	border: 1px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
  }
  
  /* Darker chat container */
  .darker {
	border-color: #ccc;
	background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Style images */
  .container img {
	float: left;
	max-width: 80px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
  }
  
  /* Style time text */
  .time-right {
	float: right;
	color: #aaa;
  }
  
  /* Style time text */
  .time-left {
	float: left;
	color: #999;
  }
  
  #sendMessage {
	background: #EA6557;
	color: #fff;
	width: 20%;
	border: none;
	height: 40px;
	padding: 10px;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 2px;
	cursor: pointer;
	margin-top: 10px;
  }